* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    background-color: #255EE9;
}

nav {
    margin: auto;
}

a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
i {
    color: white;
}

.margin_auto {
    max-width: 1170px;
    margin: auto;
}
.btn {
    padding: 10px 12px;
    border: none;
    border-radius: 28px;
    cursor: pointer;
}
.btn_white {
    background-color: white;
    color: black;
}
.btn_white:hover {
    color: #5865F2;
}
.btn_black {
    background-color: #36393F;
    color: white;
}
.btn_black:hover {
    background-color: #515253;
}
.btn_violet {
    background-color: #5865F2;
    color: white;
}
.btn_violet:hover {
    background-color: #7681ff;
}
.bg_gray {
    background-color: #F6F6F6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.navbar_links {
    display: flex;
    list-style-type: none;
}

.navbar_links li {
    padding: 0 15px;
}

.hero {
    height: 500px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    display: flex;
    align-items: center;
    color: white;
}

.hero_container {
    text-align: center;
    width: 55%;
}

.hero_text {
    margin: 10px;
}
.hero_text > * {
    padding: 10px;
}
.hero_text h1 {
    font-size: 60px;
}
.hero_text p {
    font-size: 20px;
}

.hero_btns button {
    font-size: 20px;
    margin: 0 10px;
}
.btn_download::before {
    content: '\2193';
    margin-right: 10px;
}

.section {
    padding: 55px;
}
.section_container {
    display: flex;
    
}
.section_text h1 {
    font-size: 35px;
    margin-top: 20px;
    width: 70%;
}
.section_text > * {
    padding: 10px;
}

.bsection {
    text-align: center;
    padding: 55px 0;
}
.bsection_text h1 {
    font-size: 35px;
}
.bsection_text > * {
    padding: 10px;
}
.star_bg {
    font-size: 20px;
    margin: auto;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: fit-content;
    padding: 30px;
}

.footer {
    background-color: #23272A;
}

.footer_container {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.fsocial {
    width: 30%;
}
.ftext {
    width: calc(70% / 4);
}

.fsocial h3 {
    color: #5865F2;
    margin-top: 0;
}
.fsocial > * {
    margin: 10px 0;
}

.language {
    color: white;
}
.language img {
    height: 15px;
}

.social > i {
    padding-right: 10px;
    cursor: pointer;
}

.ftitle {
    color: #5865F2;
}
.ftext ul {
    list-style-type: none;
    padding-top: 10px;
}

.ftext li {
    padding: 8px 0;
}

.footer2 {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.wave {
    background-image: url('../img/wave.svg');
    height: 100px;
}
.wave_flipped {
    background-image: url('../img/wave.svg');
    height: 80px;
    transform: rotateX(180deg)
}